<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/crypto-js.min.js"></script>
    <script src="js/openpgp.min.js"></script>
    <script src="js/administracao.js" defer></script> 
    <title>Menu Principal - Administração</title>
</head>
<body>
    <div class="menu_lateral">
        <div id="tela_inicial" class="abas_menu_lateral" onclick="abrirTela(event)">Página Inicial</div>
        <div id="excluir_usuario" class="abas_menu_lateral" onclick="abrirTela(event)">Excluir Conta de Usuário</div>
        <div id="verificar_conta" class="abas_menu_lateral" onclick="abrirTela(event)">Verificar Contas</div>
        <div id="alterar_vagas" class="abas_menu_lateral" onclick="abrirTela(event)">Gerenciar Vagas</div>
        <div id="banir_placa" class="abas_menu_lateral" onclick="abrirTela(event)">Banir Placas</div>
        <div id="enviar_notificacao" class="abas_menu_lateral" onclick="abrirTela(event)">Enviar Notificações</div>
        <div id="logout" class="abas_menu_lateral" onclick="abrirTela(event)">Logout</div>
    </div>

    <div id="conteudo">
        <h1>Bem vindo(a) a página da Administração</h1>
    </div>
</body>
</html>
