* {
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 0, 0));
}

.divEmail {
    height: 600px;
    width: 500px;
    max-width: 90%;
    border: solid 2px #555;
    box-shadow: 0px 0px 40px #333;
    border-radius: 50px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divSenha {
    height: 600px;
    width: 500px;
    max-width: 90%;
    border: solid 2px #555;
    box-shadow: 0px 0px 40px #333;
    border-radius: 50px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.divToken {
    height: 600px;
    width: 500px;
    max-width: 90%;
    border: solid 2px #555;
    box-shadow: 0px 0px 40px #333;
    border-radius: 50px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.input {
    border: solid 2px #000000;
    width: 300px;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
}

button {
    width: 300px;
    padding: 10px;
    max-width: 90%;
    text-align: center;
    border-radius: 20px;
    border: solid 2px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

button:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

button:active {
    background-color: rgb(185, 185, 185);
}

a {
    font-size: 18px;
    font-family: Arial;
}

.inputSenha {
    border: solid 2px #000000;
    width: 300px;
    max-width: 90%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 2px;
}

.inputConfirmarSenha {
    border: solid 2px #000000;
    width: 300px;
    max-width: 90%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 2px;
}
