<!DOCTYPE html>

<html lang="pt-br">

<head>
    <title>Cadastro</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/cadastro_styles.css">
    <script src="js/crypto-js.min.js"></script>
    <script src="js/openpgp.min.js"></script>
    <script src="js/cadastro_script.js"></script>
</head>

<body class="menu_cadastro" onsubmit="cadastrar(event)">
    <form class="input_box" id="formId">
       
        <input class="textbox" name="username" id="username" placeholder="Nome Completo">
        <input class="textbox" name="email" id="email" placeholder="E-mail"> 
        <input type="password" class="textbox" name="hash_senha" id="senha" placeholder="Senha">
        <input type="password" class="textbox" id="confirmar_senha" placeholder="Confirmar senha">
        <br><br>
        <button type="submit" class="botao" id="botaoCadastrar"> Cadastrar </button>
        <a href="login.html">Retornar para login</a>
    </form>

    <div class="divToken">
        <a>Um token e um QR Code foram enviados para o seu email!</a>
        <br>
        <input class="input" type="text" placeholder="Token" id="token">
        <br>
        <button class="botao" onclick="verificaToken()" id="botaoToken">Enviar</button>

    </div>
</body>

</html>